/* AnnouncementSection.css */
.middle-section {
    background-color: #ffffff;
    padding-top: 10%;
    border-radius: 15px;
    margin: 10px;
    height: 100%;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    
}

.typing-animation h2{
    margin-top: 3%;
    font-style: 'Verdana';
    padding: 15px;
    border-radius: 10px;
    font-size: 75px;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 2.812rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 3.25rem;
    color: var(--gm3-sys-color-on-surface, #1f1f1f);
    flex:0%
}
.typing-animation h1{    
    font-style: 'Verdana';
  padding-left: 15px;
  font-size: 20px;
}
.announce {
    background-color: #4a84e9;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: fit-content;
    padding: 15px;
    display: flex;
    margin-top: 15%;
    font-style: italic;
    
}
.announce1 {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #457ee0;
    margin-bottom: 5%;
    padding: 15px;
    display: flex;
    width: fit-content;
    
}
.partition1 {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .video-block {
    flex: 1;
    position:sticky;
    margin-right: 1%;
    z-index: 1;
    /* Adjust width as needed */
    flex: unset;
    
  }
  
  .video-block video {
    width: 500px;
    height: 500px;
    
    border-width: 5px;
    border-radius: 50%;
    border-color: #000000;
  }
  
 
  @media (max-width: 550px) {
    .middle-section {
      flex-direction: column; /* Stack elements vertically */
      align-items: center; /* Center-align items */
      height: auto; /* Let height adjust dynamically */
      overflow: hidden;
      width: 100%;
      height: 100%;
      padding: 30px;/* Ensure content is visible */
    }

    
    .partition1 {
      margin-right: 0; /* Remove margin for stacked layout */
      flex: unset; /* Allow natural width */
    }
  
    .video-block {
      
      height: -100px;
      margin-top: -10em;
    }
    .video-block video {
      width: 500px;
      height: 500px;
      
      border-width: 5px;
      border-radius: 50%;
      border-color: transparent;
    }
  
    /*.video-block video {
       
      border-width: 3px; 
      border-radius: 20px; 
      border-color: rgb(0, 0, 0);
    }*/
  }
  
  

  
